<div class="container">
  <h1>Dashboard</h1>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link "Slides", to: admin_slide_path(@conn, :index), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Another link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

</div>
